/* Overrides padding on cards so pics fit the full area */
.card-padding {
  padding: 0px 0px;
}

/* Applies custom settings to navbar */
.custom-navbar {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color:#979797;
  border-style:solid;
}

/* Sets the hover color for the Skype icon */
.fa-skype:hover {
  color: #009FE3;
}

.fa-twitter:hover {
  color: #1DA1F3;
}

.fa-envelope:hover {
  color: #9A9CF3;
}

.fa-linkedin:hover {
  color: #007AB6;
}

.fa-github:hover {
  color: #000000;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #979797;
}

html,body {
  background-color: #f8f8f8;
}

.breadcrumb {
  background-color: #f8f8f8;
}

* {
    font-family: "Hind", "Times New Roman"
}

.uk-active {
  text-decoration: underline;
}

.resume-separator {
  margin-top: 5px;
}

.uk-list>li:nth-child(n+2), .uk-list>li>ul {
  margin-top: 0px;
}

/*-Sets custom margin to the custom-navbar class when the screen is in between 960 & 1199 px */
@media (min-width: 1200px) {
  #portfolio-pieces {
    margin-top: 40px;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  /*.custom-navbar {
    margin-bottom: 30px;
  }*/
  #portfolio-pieces {
    margin-top: 30px;
  }
}

/*-Sets custom margin to the custom-navbar class when the screen is below 640px */
@media (max-width: 639px){
  /*.custom-navbar {
    margin-bottom: 0;
  }*/
  #portfolio-pieces {
    margin-top: 0px;
  }
}
