/* Overrides padding on cards so pics fit the full area */
.card-padding {
  padding: 0px 0px;
}

/* Applies custom settings to navbar */
.custom-navbar {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color:#979797;
  border-style:solid;
}

/* Sets the hover color for the Skype icon */
.fa-skype:hover {
  color: #009FE3;
}

.fa-twitter:hover {
  color: #1DA1F3;
}

.fa-envelope:hover {
  color: #9A9CF3;
}

.fa-linkedin:hover {
  color: #007AB6;
}

.fa-github:hover {
  color: #000000;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #979797;
}

html,body {
  background-color: #f8f8f8;
}

.breadcrumb {
  background-color: #f8f8f8;
}

* {
    font-family: "Hind", "Times New Roman"
}

.uk-active {
  text-decoration: underline;
}

.resume-separator {
  margin-top: 5px;
}

.uk-list>li:nth-child(n+2), .uk-list>li>ul {
  margin-top: 0px;
}

.navbar-container {
  background-color: #f8f8f8;
}

.job-weight {
  font-weight: 100;
}

.scale img {
    -webkit-transition: all .75s ease; /* Safari and Chrome */
    -moz-transition: all .75s ease; /* Firefox */
    -ms-transition: all .75s ease; /* IE 9 */
    -o-transition: all .75s ease; /* Opera */
    transition: all .75s ease;
}

.scale:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

/*-Sets custom margin to the custom-navbar class when the screen is in between 960 & 1199 px */
@media (min-width: 1200px) {
  .portfolio-pieces {
    margin-top: 40px;
  }
}

/*-Sets custom margin to the custom-navbar class when the screen is in between 640 & 1199 px */
@media (min-width: 640px) and (max-width: 1199px) {
  .portfolio-pieces {
    margin-top: 30px;
  }
}

/*-Sets custom margin to the custom-navbar class when the screen is below 640px */
@media (max-width: 639px){
  .portfolio-pieces {
    margin-top: 20px;
  }
  .padding-bottom {
    padding-bottom: 10px;
  }
}

/*Sets custom top & bottom padding for the resume when the user is on mobile*/
@media (max-width: 639px) {
  .mobile-margin-correct, .uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin, .uk-list .uk-list-bullet {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
}

/*Adds padding on top of job title when screen is below @s sizes*/
@media (max-width: 639px) {
  .job-title {
    font-weight: 600;
    margin-top: 10px;
  }
}

/*Removes margin in bullet lists that is equal in height to an additional line of text*/
@media (max-width: 639px) {
  address, dl, fieldset, figure, ol, p, pre, ul {
    margin-bottom: 0px;
  }
}
